.wrapper{
	padding: 0px 0px;
	.title{
		margin-left: 40px;
	}
	.loader {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.posts{
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}
}